<div class="head_box">
  <div class="head_box_order_status">
    <div class= "nav nav-pills nav-justified">
      <a class="nav-link" [routerLink]="['/orders']" routerLinkActive="active">Your new order</a>
      <a class="nav-link" [routerLink]="['/completedOrders']"  routerLinkActive="active">Completed orders</a>
      <a class="nav-link" [routerLink]="['/statistics']"  routerLinkActive="active">Statistics</a>
      <a class="nav-link" [routerLink]="['/creation']"  routerLinkActive="active">Creation</a>
    </div>
  </div>
  <div class="head_box_options">
    <button class="btn btn-danger"> Exit</button>
  </div>
</div>
