.res_list {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.res_list_menu {
  margin-right: 30px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 5px;
  height: 28px;
  border-radius: 5px;
  color: #000000;
  background-color: #A3273F;
  border-color: #59BC74;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}
.res_list_menu:focus{
  background-color: #59BC74;
}
